body {
  font-family:'ヒラギノ角ゴ Pro W3','Hiragino Kaku Gothic Pro','メイリオ',Meiryo,'ＭＳ Ｐゴシック','MS PGothic',sans-serif;
  font-size: 14px;
  line-height: 1.55;
  letter-spacing: 0;
}

h1 {
  font-size: 26px;
  text-align: center;
}

h2 {
  font-size: 21px;
}

label:hover {
  opacity: 0.5;
}

.options {
  width: 95.5%;
  display: -webkit-box;
  margin-top: 4.65%;
  margin-bottom: 3.2%;
  margin-right: 2.0%;
  margin-left: 2.5%;
}


.left_option {
  width: 60%;
}

.left_option > h3 {
  font-size: 18px;
  padding-left: 1%;
}

.left_option > p {
  padding-left: 1.5%;
}

.left_option > p + label {
  padding-left: 1%;
}


.right_option {
  width: 48%;
}

.right_option > p {
  padding-left: 0.8%;
}


#footer {
  color: #666;
  font-size: small;
  text-align: center;
}